.about-me {
  height: 100%;
  background-color: tomato;
}
.image {
  border-radius: 50%;
  padding: 20px;
  background-color: tomato;
}
.about-me-data {
  background-color: tomato;
}
.about-me-data > .name,
.cv {
  background-color: rgb(215, 255, 71);
  padding: 20px;
  margin: 10px;
  border-radius: 15px;
  font-family: Arial;
  font-size: 15px;
  line-height: normal;
  text-align: center;
  letter-spacing: normal;
}
.about-me-form {
  background-color: tomato;
  padding: 20px;
  margin: 10px;
  border-radius: 15px;
}

label {
  background-color: tomato;
  padding: 20px;
  margin: 10px;
  border-radius: 15px;
  font-family: Arial;
  font-size: 15px;
  line-height: normal;
  text-align: center;
  letter-spacing: normal;
}
::placeholder {
  text-align: center;
}
.about-me-input {
  background-color: rgb(233, 220, 227);
  border-style: hidden;
  border-radius: 5px;
}
.about-me-button {
  background-color: rgb(215, 255, 71);
  font-size: 15px;
  border-radius: 15px;
  margin: 10px;
}
.about-me-button:active {
  background-color: deeppink;
}
