.task,
.fa {
  background-color: rgb(215, 255, 71);
  padding: 20px;
  margin: 10px;
  border-radius: 15px;
  font-family: Arial;
  font-size: 15px;
  line-height: normal;
  text-align: center;
  letter-spacing: normal;
}
