.body {
  background-color: tomato;
}
.text-up {
  border-radius: 15px;
  font-family: Arial;
  font-size: 15px;
  line-height: normal;
  text-align: center;
  letter-spacing: normal;
  padding: 20px;
  margin: 20px;
  background-color: tomato;
}
.message-content {
  background-color: tomato;
  margin: 20px;
  padding: 20px;
  border-radius: 15px;
  font-family: Arial;
  font-size: 15px;
  line-height: normal;
  text-align: center;
  letter-spacing: normal;
}
.form {
  background-color: tomato;
  border-radius: 15px;
  font-family: Arial;
  font-size: 15px;
  line-height: normal;
  text-align: center;
  letter-spacing: normal;
}
.input {
  margin: 5px;
}
.input-text {
  margin: 5px;
  padding: 25px;
}
.button {
  background-color: rgb(215, 255, 71);
  font-size: 15px;
  border-radius: 15px;
  margin: 10px;
}
.button:active {
  background-color: deeppink;
}
