.title {
  background-color: tomato;
}
.card {
  margin-left: 2%;
} /* .body {
  background-color: turquoise;
  margin: 5px;
  padding: 5px;
}
.container {
  background-color: blue;
  width: 100%;
  height: 100%;
}
.text {
  border-radius: 15px;
  font-family: Arial;
  font-size: 15px;
  line-height: normal;
  text-align: center;
  letter-spacing: normal;
  padding: 5px;
  margin: 5px;
  background-color: tomato;
}
.card {
  float: left;
  height: 150px;
  width: 150px;
  background-color: brown;
} 
.pagination {
  background-color: tomato;
  padding: 10px;
  margin: 10px;
  height: 200px;
  width: 200px;
} */
