.paginationBttns {
  width: 80%;
  height: 40px;
  list-style: none;
  display: flex;
  justify-content: center;
  background-color: tomato;
  cursor: pointer;
}
.paginationBttns a {
  padding: 10px;
  margin: 8px;
  border-radius: 5px;
  border: 1px solid;
  color: black;
  cursor: pointer;
  background-color: tomato;
}
.paginationBttns a:hover {
  background-color: yellow;
}
.paginationBttns li {
  background-color: tomato;
}
